node_modules
bower_components
img/lemma_logo_header.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 Menu Icon.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 Gallery Icon without Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 Gallery Icon with Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 FlipCamera Icon.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 Camera Icon without Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_64x64 Camera Icon with Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 Menu Icon.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 Gallery Icon without Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 Gallery Icon with Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 FlipCamera Icon.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 Camera Icon without Shadow.png
hrishi_icons/Updated Icons for Android/LemmaApp_128x128 Camera Icon with Shadow.png
hrishi_icons/reappdesignlemma.zip
hrishi_icons/Lemma_App_Logo google pixel.png
hrishi_icons/Lemma_App_Image Icon Google Pixel 2.png
hrishi_icons/Lemma_App_Google Pixel_HomeBG.png
hrishi_icons/Lemma_App_Camera Icon Google Pixel 2.png
hrishi_icons/Lemma_App_BG for home screen.jpg
